/**
 * Campaign
 */

.campaign {
  width: min(83.33%, 63rem);
  margin: 4.5rem auto;

  &__header {
    position: relative;
  }

  &__figure {
    margin: 0;
  
    &.--rings {
      display: none;
  
      @media (min-width: $breakpoint) {
        position: absolute;
        top: 25%;
        left: -15%;
        z-index: -10;
        display: block;
        width: 15vw * $headerRate;
      }
    }
  }

  &__description {
    font-size: 80%;
    line-height: 1.5;

    @media (min-width: $breakpoint) {
      font-size: 125%;
    }

    & > p {
      width: 19.5rem;
      margin: auto;
      padding: 0.75rem;
      border: 1px solid $bodyColor;
      border-bottom: none;
      border-radius: 6px 6px 0 0;
      text-align: center;

      @media (min-width: $breakpoint) {
        width: 42rem;
        padding: 1.5rem 3rem;
      }
    }

    & > ol {
      list-style-type: none;
      width: 21rem;
      margin: 0 auto;
      padding: 0;

      @media (min-width: $breakpoint) {
        width: 48rem;
      }

      & > li {
        display: flex;
        gap: 0.75rem;
        padding: 1.5rem 0;
        border-bottom: 1px solid $bodyColor;

        &:first-child {
          border-top: 1px solid $bodyColor;
        }

        span {
          display: inline-block;

          &.--index {
            flex: 0 0 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            padding-top: 2px;
            border-radius: 50%;
            background: linear-gradient(135deg, #db80a9, #1fa5bc);
            color: #fff;
            text-align: center;

            @media (min-width: $breakpoint) {
              flex: 0 0 2.25rem;
              width: 2.25rem;
              height: 2.25rem;
              padding-top: 3px;
            }
          }

          &.--content {
            flex: auto;
          }

          &.--hashtag {
            background: linear-gradient(transparent 60%, yellow 80%);
            font-size: 125%;
          }

          &.--small {
            position: relative;
            display: block;
            margin-top: 0.75rem;
            padding-left: 1.5em;
            font-size: 80%;

            &::before {
              content: "";
              position: absolute;
              top: 0.45em;
              left: 0;
              width: 0.75em;
              height: 0.75em;
              border-radius: 50%;
              background-color: $bodyColor;
            }
          }
        }
      }
    }
  }

  &__main {
    position: relative;

    & > p {
      width: 21rem;
      margin: 0 auto;
      font-weight: 700;
      text-align: right;
  
      @media (min-width: $breakpoint) {
        width: 42rem;
        font-size: 150%;
      }
    }
  }

  &__mainItems {
    list-style-type: none;
    width: 21rem;
    margin: 3rem auto 1.5rem;
    padding: 0;

    @media (min-width: $breakpoint) {
      width: 48rem;
      margin: 3rem auto;
    }
  }

  &__mainItem {
    display: flex;
    gap: 0.75rem;
    margin: 0.75rem 0;
    font-weight: 700;

    @media (min-width: $breakpoint) {
      margin: 1.5rem 0;
    }

    span {
      display: inline-block;

      @media (min-width: $breakpoint) {
        font-size: 150%;
      }

      &.--index {
        flex: 0 0 3rem;
        width: 3rem;
        height: 3rem;
        line-height: 2.75rem;
        background: url("./assets/campaign_dec.svg") no-repeat center center / contain scroll;
        text-align: center;

        @media (min-width: $breakpoint) {
          flex: 0 0 4.5rem;
          width: 4.5rem;
          height: 4.5rem;
          line-height: 4.125rem;
        }
      }

      &.--item {
        flex: auto;
      }

      &.--small {
        font-size: 80%;
      }

      &.--itemType {
        font-size: 50%;
      }

      &.--itemBrand {
        font-size: 80%;
      }
    }
  }

  &__sub {
    display: none;

    @media (min-width: $breakpoint) {
      display: block;
    }
  }

  &__chance {
    position: relative;
    width: 48rem;
    margin: 4.5rem auto 0;
    padding-left: 15rem;
    font-weight: 700;
    font-size: 150%;
    text-align: center;

    span {
      display: inline-block;

      &.--block {
        border-bottom: 2px solid $bodyColor;
      }

      &.--large {
        font-size: 125%;
      }
    }

    &::before {
      content: url("./assets/campaign_chance_label.svg");
      position: absolute;
      top: -6rem;
      left: 0;
      width: 15rem;
    }
  }

  &__subItems {
    list-style-type: none;
    width: 48rem;
    margin: 7.5rem auto 0;
    padding: 0;
  }

  &__subItem {
    display: grid;
    grid-template-columns: auto 1fr 6rem;
    margin-bottom: 0.75rem;

    span {
      &.--item {
        grid-column: 1 / 2;
      }

      &.--itemName, &.--itemTarget {
        font-size: 150%;
      }

      &.--itemType, &.--itemBrand {
        font-size: 75%;
      }

      &.--itemLine {
        grid-column: 2 / 3;
        height: 1rem;
        margin: 0 1rem;
        border-bottom: 1px dotted $bodyColor;
      }

      &.--itemTarget {
        grid-column: 3 / 4;
      }
    }
  }

  &__items {
    &.--main {
      position: absolute;
      top: 0;
      right: 0;
      display: none;

      @media (min-width: $breakpoint) {
        display: block;
        width: 15rem;
      }

      @media (min-width: $breakpointLg) {
        top: -1.5rem;
        display: block;
        width: 18rem;
      }
    }

    &.--sub {
      width: 48rem;
      margin: 3rem auto;
    }

    &.--mb {
      width: 91.67%;
      margin: 1.5rem auto;

      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }

  &__target {
    width: min(91.67%, 48rem);
    margin: 1.5rem auto;
  }

  &__duration {
    width: min(91.67%, 48rem);
    margin: 1.5rem auto;
  }

  &__notes {
    width: min(100%, 48rem);
    margin: 1.5rem auto;
    padding: 0 1.5rem;
    font-size: 87.5%;
    line-height: 1.8;
  }

  &__more {
    position: relative;
    display: block;
    width: 83.33%;
    height: 3rem;
    line-height: 3rem;
    margin: 3rem auto 0;
    border-radius: 1.5rem;
    background: linear-gradient(90deg, #f7d781, #e4673a, #bf2f87, #9c78b2, #7e7ab7);
    color: #fff;
    font-size: 120%;
    text-align: center;
    letter-spacing: 0.08rem;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.5);

    &:hover {
      transform: translate(1px, 3px);
      filter: brightness(0.85);
    }

    @media (min-width: $breakpoint) {
      width: 30rem;
      height: 4.5rem;
      line-height: 4.5rem;
      border-radius: 2.25rem;
      font-size: 133.33%;
    }

    span::after {
      content: url("./assets/chevron-down.svg");
      position: absolute;
      right: 1.5rem;
      width: 1rem;
      height: 1rem;
    }
  }
}
