/**
 * Header
 */

$headerRateMb: 1.125 * 3.84;
$headerRate: 1.25;

.header {
  height: 100svh;
  background-color: #fdede4;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100svh - #{18vw * $headerRateMb});
    
    @media (min-width: $breakpoint) {
      right: 0;
      bottom: 0;
      width: 50vw;
      height: 50vw;
      margin: auto;
    }

    &.--fade_1 {
      animation: fade 10s ease-in-out 0s infinite;
    }

    &.--fade_2 {
      opacity: 0;
      animation: fade 10s ease-in-out 5s infinite;
    }
  }

  &__title-1 {
    flex: 0 0 91.67%;
    width: 91.67%;
    margin: auto;
  }

  &__title-2 {
    flex: 0 0 50%;
    width: 50%;
    margin: auto auto 0;
  }

  &__title-3 {
    flex: 0 0 83.33%;
    width: 83.33%;
    margin: 1.5rem auto 4.5rem;
  }
  
  &__figure {
    margin: 0;
  
    &.--rings {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      width: 9vw * $headerRateMb;
      margin: 20% auto;
  
      @media (min-width: $breakpoint) {
        width: 15vw * $headerRate;
        margin: -0.75vw * $headerRate 0;
      }
    }
  
    &.--groom {
      position: absolute;
      left: 0;
      bottom: 3rem;
      z-index: 101;
      width: 15vw * $headerRateMb;
  
      @media (min-width: $breakpoint) {
        bottom: 0;
        width: 30vw * $headerRate;
      }
    }
  
    &.--bride {
      position: absolute;
      right: 0;
      bottom: 3rem;
      z-index: 102;
      width: 15vw * $headerRateMb;
  
      @media (min-width: $breakpoint) {
        bottom: 0;
        width: 30vw * $headerRate;
      }
    }
  }  

  &__link {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 200;
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(90deg, #f7d781, #e4673a, #bf2f87, #9c78b2, #7e7ab7);
    color: #fff;
    font-size: 120%;
    text-align: center;
    letter-spacing: 0.08rem;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.5);

    &:hover {
      transform: translate(1px, 3px);
      filter: brightness(0.85);
    }

    @media (min-width: $breakpoint) {
      right: 0;
      bottom: -2.25rem;
      width: 30rem;
      height: 4.5rem;
      line-height: 4.5rem;
      margin: auto;
      border-radius: 2.25rem;
      font-size: 133.33%;

      span::after {
        content: url("./assets/chevron-down.svg");
        position: absolute;
        right: 1.5rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__innerGradient-1, &__innerGradient-2, &__innerOpening, &__innerConfetti, &__innerImage {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__innerGradient-1 {
    z-index: 10;
    background: linear-gradient(rgba(#db9e85,20%) 0%, #ffffff 40%, #ffffff 60%, rgba(#e18d68,20%) 100%);
    opacity: 0.5;
  }

  &__innerGradient-2 {
    z-index: 30;
    background: linear-gradient(45deg, #e6d28b 0%, #d8a287 15%, #e17d97 40%, #dca05b 100%);
    mix-blend-mode: multiply;

    &.--fade_2 {
      opacity: 0;
      animation: fade 10s ease-in-out 5s infinite;
    }
  }

  &__innerOpening {
    z-index: 20;

    &::before, &::after {
      content: "";
      position: absolute;
      bottom: -9vw * $headerRateMb;
      width: 12vw * $headerRateMb;
      height: 30vw * $headerRateMb;
      background: url(./assets/opening.svg) no-repeat center center / contain scroll;

      @media (min-width: $breakpoint) {
        bottom: -24vw * $headerRate;
        width: 24vw * $headerRate;
        height: 60vw * $headerRate;
      }
    }

    &::before {
      left: -2.25vw * $headerRateMb;

      @media (min-width: $breakpoint) {
        left: -4.5vw * $headerRate;
      }
    }

    &::after {
      right: -2.25vw * $headerRateMb;

      @media (min-width: $breakpoint) {
        right: -4.5vw * $headerRate;
      }
    }
  }

  &__innerContent {
    position: relative;
    width: 100%;
    height: calc(100svh - #{18vw * $headerRateMb});
    
    @media (min-width: $breakpoint) {
      width: 50vw;
      height: 50vw;
      margin: auto;
    }
  }

  &__innerConfetti { 
    z-index: 40; 
    background: url(./assets/confetti_mb.svg) no-repeat top center / 125% scroll;

    @media (min-width: $breakpoint) {
      background: url(./assets/confetti.svg) no-repeat top center / 125% scroll;
    }
  }

  &__innerImage {
    z-index: 110;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
