/**
 * Main
 */

.main {
  &__header {
    position: relative;
    padding-top: 9rem;
    overflow: hidden;
  }

  &__title {
    width: min(50%, 18rem);
    margin: auto;
  }

  &__figure {
    &.--rings {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 9vw * $headerRateMb;
      margin: 1.5rem -1.5rem;
  
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }
}
