/**
 * Normarize
 */

*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
  font-size: max(16px, 1.25vw);
  scroll-behavior: smooth;

  @media (max-width: $breakpoint - 0.1px) {
    font-size: 3.84vw;
  }
}
 
body {
  margin: 0; // Remove the margin in all browsers
  background-color: #fff;
  color: #ea5532;
  font-family: "Noto Serif JP", serif;
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

button, input, select, textarea {
  font: inherit;  // Change the font styles in all browsers
}
